.moment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
}

h1 {
  margin-bottom: 1rem;
  margin-left: 24rem;
}

.cabecalho{
  cursor: pointer;
  width: 54%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.capilike{
  display: flex;
  align-items: center;
  width: 55px;
  transition: transform 0.3s ease-in-out;
}

.capilike p{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.capilike.clicked {
  transform: scale(1.3);
  transform: rotate(-3turn);
}


.img-moment {
  min-width: 650px;
  min-height: 500px;
  width: 650px;
  height: 500px;
  margin: 0 0 2rem;
  align-content: left;
  align-items: left;
  margin-left: 24rem;
  border-radius: 15px;
  box-shadow: 2px 2px 20px #929ae169;
}

.actions {
  display: none;
  padding-bottom: 1em;
  padding: 1.2em;
}

.icone {
  color: rgb(255, 255, 255) !important;
}

.comments {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
  padding: 1.5em 0;
  width: 77%;
  margin-left: 24rem;
}

h3, .count-comment{
  text-align: left;
  margin-left: 25rem;
}

span{
  font-weight: bolder;
}

h2 {
  text-align: left;
}

.about-moment {
  padding-right: 1rem;
  margin-bottom: 1rem;
  height: 500px;
  max-height:500px ;
  overflow:auto; 
}

.about-moment::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.about-moment::-webkit-scrollbar-button {
  width: 13px;
  height: 13px;
}
.about-moment::-webkit-scrollbar-thumb {
  background: #29263f;
  border-radius: 47px;
}
.about-moment::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.about-moment::-webkit-scrollbar-track {
  background: #f1f2f9;
  border: 0px none #ffffff;
  border-radius: 40px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.comment-container {
  text-align: left;
  padding: 1rem;
  margin: 1rem;
  color: rgb(240, 240, 240) !important;
  background-color: #929ae1;
  border-radius: 10px;
}

.container-about-comment {
  display: flex;
  flex-direction: row;
}

.comment-about {
  text-align: justify;
  width: 45rem;  
  margin-left: 5rem;
  height: 570px;
  max-height:570px ;
  display: flex;
  flex-direction: column;
}

.author {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.comment-form {
  text-align: left;
  margin: 0 auto 0;
  margin-bottom: 3em;
}

.comment-form form {
  margin-top: 1em;
  width: 45rem;
}

input {
  width: 35rem;
  border-radius: 10px;
  background-color: #f1f2f9;
}

.textarea-coment {
  height: 6rem;
  border-radius: 10px;
  background-color: #f1f2f9;
}

.comment-button {
  background-color: #29263f;
  color: #e7e7e7;
  width: 10rem;
  margin-top: 1rem;
  border: 2px solid transparent;

}

.comment-button:hover {
  border: 2px solid #929ae1;
}

.noComments {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

.author span {
  font-weight: bold;
}
