.moment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1em;
}

img {
  max-width: 600px;
  margin: 0 auto 2rem;
  transition: max-width 0.3s ease;
  align-content: center;
  align-items: center;
  border: 4px solid #120c49;
  box-shadow: 2px 2px 45px black;
}

img:hover {
  margin: 0 auto 2rem;
  max-width: 900px;
  border: 4px solid #949ce2;
}


.about-moment,
.actions {
  padding-bottom: 1em;
  padding: 1.2em;
}

.actions {}


.icone {
  color: rgb(255, 255, 255);
}

.comments {
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1.5em 0;
}

.about-moment h3,
.actions h3,
.comments h3 {
  margin-bottom: 1em;
}

.comment-container {
  text-align: left;
  padding: 1em 0;
}

.comment {
  font-size: 0.9em;
  width: 40rem;
  background-color: #0a0812;
  padding: 2rem;
}

.author {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.comment-form {
  text-align: left;
  margin: 0 auto 0;
  margin-bottom: 3em;
}

.comment-form form {
  margin-top: 1em;
  width: 40rem;
}

.textarea-coment {
  height: 14rem;
}

.comment-buttor {
  margin-top: 1rem;
}

.author span {
  font-weight: bold;
}