<div class="aside-content" [ngClass]="{ 'mobile-open': menuOpen() }">
  <div class="foto">
    <img
      class="foto"
      [src]="userProfile()?.photo || '/assets/profile-default-img.png'"
      appImageFallback="/assets/profile-default-img.png"
      alt="Foto de perfil"
    />
  </div>

  <p class="name">
    {{ userProfile()?.username }}
  </p>
  <div class="description">
    @if (!userProfile()) {
    <p>Crie uma conta e comece a codar momentos também!</p>
    }
    @if (userProfile() && !perfilCompleted()) {
    <p>Conclua seu perfil ver suas notificações!</p>
    }
    <div class="menu">
      @if (!userProfile() && !perfilCompleted()) {
      <a href="login" class="butn butn__new" (click)="closeMenu()">
        <span>Entrar</span>
      </a>
      }
      @if (userProfile() && !perfilCompleted()) {
      <a href="profile" class="butn butn__new" (click)="closeMenu()">
        <span>Concluir Perfil</span>
      </a>
      }
      @if (perfilCompleted()) {
      <strong class="notify">
        <span>{{ notifications().length }}</span>
        <span></span>Notificações
      </strong>
      }
      @if (userProfile() && perfilCompleted() && hasUnreadNotifications()) {
      <div class="notificacoes-wrapper">
        <ul class="notificacoes">
          @for (notification of notifications(); track notification.id) {
          <li>
            <a
              [routerLink]="getNotificationLink(notification)"
              class="notification-link"
              (click)="closeMenu()"
            >
              <div
                class="notification"
                (click)="clearNotification(notification.id)"
              >
                <span class="notification-date">{{
                  notification.created_at | date: "short"
                }}</span>
                <span class="notification-text">{{
                  notification.message
                }}</span>
              </div>
            </a>
            <button
              class="clear-button"
              (click)="clearNotification(notification.id)"
            >
              <fa-icon class="trash-icon" [icon]="faCheck"></fa-icon>
            </button>
          </li>
          }
        </ul>
      </div>
      }
      @if (!hasUnreadNotifications() && userProfile()) {
      <div class="sleep">
        <video autoplay muted loop playsinline width="100%">
          <source src="/assets/tired-good-night.mp4" type="video/mp4" />
          Seu navegador não suporta vídeo.
        </video>
      </div>
      }

      @if (hasUnreadNotifications()) {
      <button class="clear-button small" (click)="markAllAsRead()">
        Marcar todas como lidas
      </button>
      }
    </div>
  </div>

  <footer>
    @if (userProfile()) {
    <a class="loggout" type="button" (click)="usersService.loggout()">SAIR</a>
    }
  </footer>
</div>
