.chat-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #1c1935;
    border-radius: 10px; 
    position: absolute;
    background-color: #343750;
    height: 350px;
    width: 270px;  
    border: 3px solid #7c85d9;
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 300px; /* Ajuste conforme necessário */
    
    /* Personalizando a barra de rolagem */
    scrollbar-width:thin; /* Para Firefox */
    scrollbar-color: #7c85d9 transparent; /* Cor da barra e do fundo */ 
}


.messages-container::-webkit-scrollbar-thumb {
    background-color: #7c85d9; /* Cor da barra */
    border-radius: 50px;

}

.messages-container::-webkit-scrollbar-track {
    background: transparent; /* Fundo da barra */
}


.message {
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

.me {
    align-self: flex-end;
    background-color: #2b2c44;
}

.other {
    align-self: flex-start;
    background-color: #5c66c7;
}

.timestamp {
    display: block;
    font-size: 0.7rem;
    color: rgb(217, 204, 255);
}

.input-container {
    display: flex;
    margin-top: auto; /* Alinha o input-container na parte inferior */
    margin-bottom: 3px;
    background-color: #1c1935;

    input{
        flex: 1;
        padding: 5px;
        font-size: 0.9rem;
        width: 100%;
        border-radius: 5px;
        border: none;
        margin: 5px;
    }
    button{
        background-color: #1c1935;
        border-radius: 60px;
        outline: none;
        border: 3px solid #343750;
        padding: 0.6rem;    
        cursor: pointer;        
    }
}

.header-chat {
    display: flex;
    flex-direction: row;
    background-color: #7c85d9;
    align-items: center;
    justify-content: space-between  ;
    border-radius: 5px;
    width: 100%;
    font-size: 0.85rem;
    div{
        display: flex;  
        flex-direction: row;
        align-items: center;
        fa-icon{
            cursor: pointer;
            background-color: #46419b8c;
            color: #ece9ff;
            padding: 4px;
            margin: 2px;
            border: 2px solid #1c193573;
            width: 25px;
            align-items: center;
            justify-content: center;
            display: flex
        ;
            border-radius: 4px;
        }
    }
}



.chat-container img {
    margin-right: 0.6rem;
    width: 3rem;
    border-radius: 5px;
}
