<form (ngSubmit)="submit()" [formGroup]="registerForm">
    <div class="form-group">
      <label>Nome de Usuário:</label>
      <input type="text" formControlName="username"/>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" formControlName="email"/>
    </div>
    <div class="form-group">
      <label>Senha:</label>
      <input type="password" formControlName="password"/>
    </div>
    <div class="form-group">
      <input class="login" type="submit" value="{{ btnText }}" />
      <div class="cadastrar">
        <span> ou </span> 
        <a routerLink="/enter">Entre na sua conta.</a>
      </div>
    </div>
  </form>
  