<nav>
  <div class="menu">
    <fa-icon  class="icon" [icon]="faBars"></fa-icon>
  </div>
  
  <form class="search">
    <input type="text" placeholder="Busque por algo..." (input)="search($event)" />
    <fa-icon class="icon" [icon]="faSearch"></fa-icon>
  </form>

  <ul class="links">
    <li>
      <a class="butn butn__new button-text"  [routerLink]="userLogged ? '/moments/new' : '/login'">Compartilhar</a>
    </li>
    <li>
      <fa-icon class="butn butn__new button-icon" routerLink="/moments/new" [icon]="faShare"></fa-icon>
    </li>
    <div class="link-icons">
      <!-- Exibe faUser apenas na rota '/' -->
      <li *ngIf="currentRoute === '/'">
        <a [routerLink]="userLogged ? '/profile' : '/login'">
          <fa-icon class="icon user-button" [icon]="faUser"></fa-icon>
        </a>
      </li>
    
      <!-- Exibe faHouse apenas nas rotas '/profile' ou '/login' -->
      <li *ngIf="currentRoute === '/profile' || currentRoute === '/login'">
        <a routerLink="/">
          <fa-icon class="icon" [icon]="faHouse"></fa-icon>
        </a>
      </li>
    </div>
    
  </ul>
</nav>