nav {
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #161621;
  width: 100%;
  /* make header topmost layer */
  z-index: 3000;
}
.button-text {
  display: block;
}
.brand {
  cursor: pointer;
  position: relative;
}

.brand img {
  width: 3rem;
}

.button-icon {
  display: none;
  color: #4e5789 !important;
}

.logo {
  display: flex;
  height: 100%;
  padding-left: 5rem;
}

.brand,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand span {
  color: #949ce2;
}

.brand img {
  width: 50px;
  opacity: 50%;
}

.brand:hover > h2 {
  color: #949ce2;
}

.add a {
  color: #949ce2;
}

.add a:hover {
  background-color: #f8f8f8;
  border-radius: 35px;
}

.links a {
  padding: 1em;
}

.moment .date {
  font-size: 0.7em;
  font-style: italic;
}

a,
i {
  display: flex;
  color: #5e638d;
  padding: 0.3em 0.6em;
  align-items: end;
  text-align: right;
  justify-content: right;
  font-weight: bolder;
}

.link-icons {
  font-size: 1.1rem;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  margin-right: 4rem;
  padding-left: 0.5em;
}

.link-icons li a {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

.share-button {
  padding-left: 0.9em;
  padding-right: 0.5em;
  font-size: 1.2rem;
}
.interroggaiton {
  margin-right: 5px !important;
  margin-top: 0.7rem;
  border-radius: 50px;
  border: 1px solid;
  text-align: center;
  justify-content: center;
  padding: 5px 5px 5px 5px !important;
  width: 2rem;
}

.home {
  color: black;
  background-color: #949ce2;
}

.search,
input {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: #12121c;
  height: 2.5rem;
}

.menu {
  display: none;
  color: #858edc;
}

.search {
  margin-right: 0.8rem;
}

.search fa-icon {
  padding-right: 2rem;
}

.butn img {
  width: 2rem;
}

.butn:link,
.butn:visited {
  color: rgb(240, 240, 240) !important;
  background-color: #5e638d;
  padding: 0.7rem !important;
  position: relative;
  transition: ease-in 0.2s;
  background-image: linear-gradient(90deg, #949ce2, #7b84d8);

  width: 7.5rem;

  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.butn::before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}

.butn__new::before {
  left: -50%;
}

.butn__new::after {
  left: -100%;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #fff;
}

.butn__new:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .link-icons {
    font-size: 1.1rem;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    margin-right: 0rem;
  }

  .button-text {
    display: none;
  }

  .button-icon {
    display: block;
  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .menu {
    font-size: 1.5rem;
    display: block;
    margin-left: 0rem;
  }
  .search {
    width: 70%;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
  }

  input {
    width: 14rem;
    margin-right: -2.5rem;
  }

  .logo {
    display: none;
  }

  .button-text {
    display: none;
  }

  .menu {
    font-size: 1.5rem;
    display: block;
    margin-left: 1.5rem;
  }

  .button-icon {
    display: block;
  }
}

@media (max-width: 670px) {
  .search {
    width: 60%;
  }
}

@media (max-width: 425px) {
  .menu {
    margin-left: 1rem;
  }
  input {
    margin-right: -1.5rem;
    width: 100%;
    font-size: 0.85rem;
  }

  .search {
    width: 65%;
    margin-right: 0rem;
    margin-left: 2rem;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .link-icons {
    font-size: 0.9rem;
  }
  .share-button {
    font-size: 0.95rem;
  }

  @media (max-width: 320px) {
    .search {
      width: 10rem;
    }
    .search fa-icon {
      padding-right: 1rem;
    }
  }
}
