nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1rem;
  padding-bottom: 0rem;
}

.button-text {
  display: block;
}

.button-icon {
  display: none;
  color: #4e5789 !important;
}

.brand {
  background-color: #f6f7fb;
}


.logo {
  display: flex;
  height: 100%;
  background-color: #f6f7fb;
  width: 20rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
  padding-left: 5rem;
}

.search,
.links {
  margin-top: 1.5rem;
}

.brand,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand span {
  color: #949ce2;
}

.brand img {
  width: 50px;
  opacity: 50%;
}

.brand:hover>h2 {
  color: #949ce2;
}

.add a {
  color: #949ce2;
}

.add a:hover {
  background-color: #f8f8f8;
  border-radius: 35px;
}

.links a {
  padding: 1em;
}


.moment .date {
  font-size: 0.7em;
  font-style: italic;
}

a,
i {
  display: flex;
  color: #5e638d;
  padding: 0.3em 0.6em;
  align-items: end;
  text-align: right;
  justify-content: right;
  font-weight: bolder;
}

.link-icons {
  font-size: 1.1rem;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}

.link-icons li a {
  margin-right: -20px !important;

}

.interroggaiton {
  margin-right: 5px !important;
  margin-top: 0.7rem;
  border-radius: 50px;
  border: 1px solid;
  text-align: center;
  justify-content: center;
  padding: 5px 5px 5px 5px !important;
  width: 2rem;
}

.home {
  color: black;
  background-color: #949ce2;
}

.search,
input {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: #12121c;
  height: 2.5rem;
}

.menu {
  display: none;
  color: #858edc;
}

.search {
  margin-right: 2rem;
}

.search fa-icon {
  padding-right: 2rem;
}

.butn img {
  width: 2rem;
}

.butn:link,
.butn:visited {
  color: rgb(240, 240, 240) !important;
  background-color: #5e638d;
  padding: 0.7rem !important;
  position: relative;
  transition: ease-in 0.2s;
  background-image: linear-gradient(90deg, #949ce2, #7b84d8);

  width: 7.5rem;

  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.butn::before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}

.butn__new::before {
  left: -50%;
}

.butn__new::after {
  left: -100%;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #fff;
}

.butn__new:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}

.butn span {
  z-index: 20;
}

@media (max-width:1024px) {
  .link-icons {
    font-size: 1.1rem;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    margin-right: 0rem;
  }

  .logo {
    display: none;
  }

  .button-text {
    display: none;
  }

  .menu {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: block;
    margin-left: 3rem;
  }

  .button-icon {
    display: block;
  }
}

@media (max-width: 600px) {
  .search {
    margin-top: 1.5rem;
    width: 14rem;
    margin-right: 1rem;
  }

  input {
    width: 14rem;
    margin-right: -2.5rem;
  }

  .logo {
    display: none;
  }

  .button-text {
    display: none;
  }

  .menu {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: block;
    margin-left: 2rem;
  }

  .button-icon {
    display: block;
  }
}

@media (max-width: 425px) {

  input {
    margin-right: -1.5rem;
    width: 100%;
    font-size: 0.85rem;

  }

  .search {
    margin-top: 1.5rem;
    width: 12rem;
    margin-right: 0rem;
    margin-left: 1rem;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 1rem;
  padding-bottom: 0rem;
}
}

@media (max-width:320px) {
  .search {
    width: 10rem;
}
.search fa-icon {
  padding-right: 1rem;
}
}