<nav>
  <div class="menu" (click)="toggleMenu()">
    @if (!menuOpen()) {
    <fa-icon class="icon" [icon]="faBars"></fa-icon>
    } @else {
    <fa-icon [icon]="faArrowLeft"></fa-icon>
    }
  </div>
  <div class="logo">
    <a class="brand" routerLink="/">
      <img src="/assets/logo.png" alt="Codei logo" />
      <h2>Codei</h2>
    </a>
  </div>

  <form class="search">
    <input
      type="text"
      placeholder="Busque por algo..."
      (input)="search($event)"
    />
    <fa-icon class="icon" [icon]="faSearch" (click)="closeMenu()"></fa-icon>
  </form>

  <ul class="links">
    @if (!isMomentEditorRoute()) {
    <li (click)="closeMenu()">
      <a
        class="butn butn__new button-text"
        [routerLink]="userLogged() ? '/moments/new' : '/login'"
        >Compartilhar</a
      >
    </li>
    <li (click)="closeMenu()">
      <fa-icon
        class="butn butn__new button-icon icon share-button"
        routerLink="/moments/new"
        [icon]="faShare"
      ></fa-icon>
    </li>
    }
    <div class="link-icons">
      @if (showProfileShortcut()) {
      <li (click)="closeMenu()">
        <a [routerLink]="userLogged() ? '/profile' : '/login'">
          <fa-icon class="icon user-button" [icon]="faUser"></fa-icon>
        </a>
      </li>
      }
      @if (showHomeShortcut()) {
      <li (click)="closeMenu()">
        <a routerLink="/">
          <fa-icon class="icon" [icon]="faHouse"></fa-icon>
        </a>
      </li>
      }
    </div>
  </ul>
</nav>
