form{
    padding-bottom: 0.5rem;
    background-color: #f3f4ff7a;
    padding: 2rem;
    border-radius: 15px;
    border-bottom: 4px solid #322e49;
}

label{
    font-size: 1.4rem;
}
input::placeholder,textarea::placeholder{
    color: #949ce2;
}
textarea, #title{
    border: none;
    padding: 0.6em 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.4s;
    border: 0 none;
    outline: 0;
    background-color: #eeefff;
    resize: none;
    border-radius: 5px;
}

textarea{
    height: 10rem;
}
.subImage{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: #949ce2;
    background-color: #eeefff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.labelImage{
    text-align: center;
}

.share:hover{
    background-color: #8993eb;
    color: #322e49;
}

.image-preview{
    height: 400px;
    width: 100%;
    margin-bottom: 3rem;
}