<aside>
  <div class="friends-continer">
    <ul>
      @for (friend of friends(); track friend.userId) {
      <li class="friend" (click)="openChat(friend)">
        <img
          [src]="friend.photo || '/assets/profile-default-img.png'"
          appImageFallback="/assets/profile-default-img.png"
          [title]="friend.username"
          alt="profile-img"
        />

        @if (hasNotifications(friend.userId)) {
        <span class="notifications">.</span>
        }
      </li>
      }
      <li class="add" (click)="openProfileSearch()">+</li>
    </ul>
  </div>
  <div class="chats-container">
    @for (friend of selectedFriends(); track friend.userId) {
    <div class="chat">
      <app-chat [friend]="friend" (closed)="closeChat(friend)"></app-chat>
    </div>
    }
  </div>
</aside>

@if (isProfileSearchOpen()) {
<app-profile-search (closed)="closeProfileSearch()"></app-profile-search>
}
