<div>
    <ul>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li><img src="/assets/profile-default-img.png" alt=""></li>
        <li class="add">+</li>
    </ul>
</div>
