<aside>
  <div class="friends-continer">
    <ul>
      <li
        class="friend"
        *ngFor="let friend of friendsListComplate"
        (click)="openChat(friend)"
      >
        <img
          [src]="friend.photo || 'assets/profile-default-img.png'"
          [title]="friend.username"
          alt="profile-img"
        />

        <span class="notifications" *ngIf="hasNotifications(friend.userId)">
          .
        </span>
      </li>
      <li class="add">+</li>
    </ul>
  </div>
  <div class="chats-container">
    <div class="chat" *ngFor="let friend of selectedFriends">
      <app-chat [friend]="friend" (closeChat)="closeChat(friend)"></app-chat>
    </div>
  </div>
</aside>
