<div class="profile">
    <div class="container">
        <div>
            <img class="profile-image" src="../../../../assets/logo.png" alt="">
            <div class="level-container">
                <span>Level: </span>
                <strong>Gambiarrento</strong>
            </div>
        </div>
 
        <div class="header-profile">
            <h3>Nome de Usuario <button class="butn-add">Adicionar</button></h3> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis modi ea totam? Incidunt accusantium
                autems, nulla, eum iste consectes, nulla, eum iste consecte
                perspiciatis laborum eius, nulla, eum iste consectetur voluptatum in voluptatem nemo dolorem veritatis
                inventore amet consectetur adipisicing elit. Corpoamet consectetur adipisicing elit. Corpo soluta.</p>
        </div>
    </div>

    <div class="tech-container">
        <h3>Tecnologias</h3>
        <div class="tech-list">
            <span>Python</span>
            <span>javascript</span>
            <span> react</span>
            <span> node</span>
        </div>
    </div>
</div>
<div class="container-my-moments">
    <h4>Momentos</h4>
    <div class="moments-container">
        <div class="moment">
            <img src="../../../../assets/capilike.png" alt="texto" />
            <h3>titulo</h3>
            <p class="date">Em: 29 de outubro</p>
            <p>Comentários: 5</p>
            <p><a routerLink="/">Detalhes</a></p>
        </div>
        <div class="moment">
            <img src="../../../../assets/capilike.png" alt="texto" />
            <h3>titulo</h3>
            <p class="date">Em: 29 de outubro</p>
            <p>Comentários: 5</p>
            <p><a routerLink="/">Detalhes</a></p>
        </div>
        <div class="moment">
            <img src="../../../../assets/capilike.png" alt="texto" />
            <h3>titulo</h3>
            <p class="date">Em: 29 de outubro</p>
            <p>Comentários: 5</p>
            <p><a routerLink="/">Detalhes</a></p>
        </div>
        <div class="moment">
            <img src="../../../../assets/capilike.png" alt="texto" />
            <h3>titulo</h3>
            <p class="date">Em: 29 de outubro</p>
            <p>Comentários: 5</p>
            <p><a routerLink="/">Detalhes</a></p>
        </div>
        <div class="moment">
            <img src="../../../../assets/capilike.png" alt="texto" />
            <h3>titulo</h3>
            <p class="date">Em: 29 de outubro</p>
            <p>Comentários: 5</p>
            <p><a class="detalhes" routerLink="/">Detalhes</a></p>
        </div>

    </div>
    <div class="container-end-moments">
        <p>OPS... as publicações acabaram por aqui</p>
    </div>
    <a class="butn">Voltar ao Feed</a>

</div>
