<div *ngIf="profileData" class="profile">
    <div class="container">
        <div>
            <img *ngIf="profileData.photo !== null" class="profile-image" [src]="profileData.photo" alt="">
            <img class="profile-image-default" src="../../../../assets/profile-default-img.png" alt="">
            
            <div class="level-container">
                <span>status: </span>
                <strong>{{ levels[0] || "jovemscript" }}  </strong>           
            </div>
        </div>
 
        <div class="header-profile">
            <h3>{{ profileName || 'sem nome'}}
              <button *ngIf="externalProfileId" class="butn">Adicionar</button>
              <button (click)="editOn = true" *ngIf="!externalProfileId && !editOn" class="butn">Editar</button>
              <button (click)="editOn = false" *ngIf="editOn" class="butn">Concluir</button>
            </h3> 
            <p *ngIf="!editOn">{{ profileData.bio || "Olá, sou usuario da melhor rede social do mundo pra quem quer se tornar dev, e essa não é uma mensagem de descrição padrão!   "}}</p>
            <textarea *ngIf="editOn" name="" id="" placeholder="Escreva uma descrição legal para seu perfil."  maxlength="200"></textarea>
        </div>
    </div>

    <div class="tech-container">
        <h3>Tecnologias</h3>
        <div class="tech-list">
            <span *ngFor="let tech of technologies">
              <i title="{{ tech }}" class="devicon-{{ tech }}-plain icone-lang"></i>
            </span>
            <span *ngIf="!editOn" class="msg-tech-off">sem tecnologias por aqui.😔 </span>
            <div class="edit-techs" *ngIf="editOn">
              <span  class="msg-tech-off">Digite a tecnologia que voce domina. 😎 </span>
              <div>
                <input type="text" placeholder="javascript"> <button class="butn">adicionar</button>
              </div>
            </div>
        </div>
        
    </div>
</div>

<div *ngIf="profileData" class="container-my-moments">
  <h4>Momentos</h4>
  <div class="moments-container">
    <div class="moment" *ngFor="let moment of moments">
      <a class="link-moment" routerLink="/moments/{{ moment.id }}">
        <div class="overlay">
          <span>visualizar</span>
          <img src="{{ endpoint }}uploads/{{ moment.image }}" alt="{{ moment.title }}" />
        </div>
      </a>
      <p class="date">Em: {{ moment.created_at | date:'dd/MM/yy' }}</p>
      <h3>{{ moment.title }}</h3>
      <div class="actions">
        <a routerLink="/moments/edit/{{ moment.id }}" class="edit-btn">
          <fa-icon [icon]="faEdit" class="icone"></fa-icon> Editar
        </a>
        <button class="remove-btn" (click)="removeHandler(moment.id!)">
          <fa-icon [icon]="faTimes"></fa-icon> Excluir
        </button>
      </div>
    </div>
    <div *ngIf="moments.length === 0" class="container-end-moments">
      <p>OPS... sem publicações por aqui.</p>
    </div>
  </div>
  <button class="butn" routerLink="/">Voltar ao Feed</button>
</div>
  
<div *ngIf="!profileData" class="loading">
  <app-loading></app-loading>
</div>
