@if (profileData; as profile) {
<div class="profile">
  <div class="container">
    <div>
      <div class="select-photo" [ngClass]="{ 'edit-mode': editOn }">
        <img
          class="profile-image-default"
          [src]="profile.photo || '/assets/profile-default-img.png'"
          appImageFallback="/assets/profile-default-img.png"
          alt="Foto de perfil do usuário"
          (click)="triggerFileInput()"
          tabindex="0"
          (keydown.enter)="triggerFileInput()"
          (keydown.space)="triggerFileInput()"
        />
        <input
          #fileInput
          type="file"
          class="subImage"
          (change)="onFileSelected($event)"
          style="display: none"
        />
      </div>

      <div class="level-container">
        <span>status: </span>
        @if (!editOn) {
        <strong>{{ selectedLevel || "jovemscript" }}</strong>
        } @else {
        <select [(ngModel)]="selectedLevel">
          @for (level of profile.levels; track level) {
          <option [value]="level">{{ level }}</option>
          }
        </select>
        }
      </div>
    </div>

    <div class="header-profile">
      <div class="profile-name">
        @if (editOn) {
        <input type="text" [(ngModel)]="profile.username" />
        } @else {
        <h3>{{ profile.username || "sem nome" }}</h3>
        }

        @if (externalProfileId && !isFriendRequested) {
        <button (click)="addFriend()" class="butn">Adicionar</button>
        <button (click)="addFriend()" class="butn btn-mobile">+</button>
        }

        @if (isFriendRequested && !isFriendDemanded) {
        <button class="butn" style="opacity: 50%">Pedido Enviada</button>
        <button class="butn" style="opacity: 50%">...</button>
        }

        @if (isFriendRequested && isFriendDemanded) {
        <button (click)="removeFriend()" class="butn">Deixar Amigo</button>
        <button (click)="removeFriend()" class="butn btn-mobile">x</button>
        }

        @if (!externalProfileId && !editOn) {
        <button (click)="editOn = true" class="butn">Editar</button>
        <button (click)="editOn = true" class="butn btn-mobile">
          <fa-icon class="icon user-button" [icon]="faEdit"></fa-icon>
        </button>
        }

        @if (editOn) {
        <button (click)="sendProfile(); editOn = false" class="butn">
          Concluir
        </button>
        <button (click)="sendProfile(); editOn = false" class="butn btn-mobile">
          OK
        </button>
        }
      </div>

      @if (!editOn) {
      <p>
        {{
          profile.bio ||
            "Olá, sou usuario da melhor rede social do mundo pra quem quer se tornar dev, e essa não é uma mensagem de descrição padrão!"
        }}
      </p>
      } @else {
      <textarea
        [(ngModel)]="profile.bio"
        placeholder="Escreva uma descrição legal para seu perfil."
        maxlength="140"
      ></textarea>
      }
    </div>
  </div>

  <div class="friends-container">
    <h5 class="buget-title">Amigos</h5>
    <div class="friends-list-container">
      @if (!friendsList.length) {
      <h4>Sem amigos por aqui</h4>
      }
      @for (friend of friendsList; track friend.userId) {
      <div
        [routerLink]="['/profile/', friend.userId]"
        [title]="friend.userId"
        class="friend"
      >
        <img
          [src]="friend.photo || '/assets/profile-default-img.png'"
          appImageFallback="/assets/profile-default-img.png"
          [alt]="friend.username"
          width="50"
          height="50"
        />
        <p class="username-friend">{{ friend.username.slice(0, 6) }},,,</p>
      </div>
      }
    </div>
  </div>

  <div class="tech-container">
    <h3>Tecnologias</h3>
    <div class="tech-list-container">
      @if (profile.technologies.length <= 0 && !editOn) {
      <span class="msg-tech-off">sem tecnologias por aqui.😔</span>
      }

      @if (editOn) {
      <div class="edit-techs">
        <span class="msg-tech-off">Digite a tecnologia que você domina. 😎</span>
        <div>
          <input
            type="text"
            [(ngModel)]="newTech"
            placeholder="javascript"
            (input)="validateTechnology()"
          />
          <button
            class="butn"
            (click)="addTechnology()"
            [disabled]="!isTechValid"
          >
            adicionar
          </button>
        </div>
      </div>
      }

      <div class="container-tech-list">
        <div class="tech-list">
          @for (tech of repeatedTechnologies; track tech) {
          <span class="tech-item">
            <i title="{{ tech }}" class="devicon-{{ tech }}-plain icone-lang"></i>
            @if (editOn) {
            <button
              class="butn butn-remove"
              (click)="removeTechnology(tech)"
            >
              x
            </button>
            }
          </span>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-my-moments">
  <h3>Momentos</h3>
  <div class="moments-container">
    @for (moment of profile.moments; track moment.id) {
    <div class="moment">
      <a class="link-moment" [routerLink]="['/moments', moment.id]">
        @if (!externalProfileId) {
        <div class="actions">
          <a [routerLink]="['/moments/edit', moment.id]" class="edit-btn">
            <fa-icon [icon]="faEdit" class="icone"></fa-icon> Editar
          </a>
          <button class="remove-btn" (click)="removeHandler(moment.id!)">
            <fa-icon [icon]="faTimes"></fa-icon> Excluir
          </button>
        </div>
        }
        <div class="overlay">
          <span>visualizar</span>
          <img
            [src]="moment.image"
            appImageFallback="/assets/post-default.png"
            [alt]="moment.title"
          />
        </div>
      </a>
      <h5>{{ moment.title }}</h5>

      <p class="date">Em: {{ moment.created_at | date: "dd/MM/yy" }}</p>
    </div>
    }

    @if (profile.moments.length === 0) {
    <div class="container-end-moments">
      <p>OPS... sem publicações por aqui.</p>
    </div>
    }
  </div>
  <button class="butn" routerLink="/">Voltar ao Feed</button>
</div>

@if (imageUrl) {
<div class="overlay">
  <div class="container-image">
    <span
      class="close-btn"
      (click)="cancelImageSelection()"
      tabindex="0"
      (keydown.enter)="cancelImageSelection()"
      (keydown.space)="cancelImageSelection()"
      >x</span
    >

    <div class="image-preview">
      <img #imageCropper [src]="imageUrl" alt="Imagem selecionada" />
    </div>

    <button
      class="button-send-image"
      (click)="cancelImageSelection()"
      tabindex="0"
      (keydown.enter)="cancelImageSelection()"
      (keydown.space)="cancelImageSelection()"
    >
      ENVIAR
    </button>
  </div>
</div>
}
} @else {
<div class="loading">
  <app-loading></app-loading>
</div>
}
