<div class="layout-container">
  <div class="aside-container">
    <app-aside-profile></app-aside-profile>
  </div>
  <div class="home-container">
    <h1>Veja o que andam compartilhando por aí</h1>
    <div *ngIf="moments.length > 0; else noMoments">
      <div class="moments-container">
        <div class="moment" *ngFor="let moment of moments">
          <a routerLink="moments/{{ moment.id }}">
            <img src="{{ endpoint }}uploads/{{ moment.image }}" alt="{{ moment.title }}" />
            <div class="details">
              <h3>{{ moment.title }}</h3>
              <div class="counts">
                <p>💬{{ moment.comments!.length }}</p>
                <p>😻{{ moment.likes_count }}</p>
              </div>
              <p class="date">{{ moment.created_at }}</p>
            </div>
          </a>
        </div>

      </div>
    </div>
    <ng-template #noMoments>
      <h1>Não há Momentos!</h1>
    </ng-template>
  </div>
  <div class="aside-container-friends">
    <app-aside-friends></app-aside-friends>
  </div>
  
</div>

