.layout-container {
  display: flex;
}

.home-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 20rem;
  width: 85%;
}

.home-container h1 {
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.aside-container {
  position: fixed;
  top: 0;
  width: 20rem;
  background-color: #f1f2f99d;
  height: 100%;
  box-sizing: border-box;
  margin-right: 50px;
  z-index: -1;
  flex-shrink: 0;
  padding-top: 5rem;
}

.moments-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 3em;
  flex-grow: 1;
}

.moment {
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  border-radius: 10px;
  background-color: #c6c9e63f;
  border: 2px solid transparent;
}

.moment:hover {
  border: 2px solid #949ce2;
}

.moment img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1em;
}

.moment h3,
.moment p {
  text-align: left;
  margin-bottom: 1em;
}

.moment .date {
  font-size: 0.7em;
  font-style: italic;
}

a {
  width: 5rem;
  display: flex;
  color: #949ce2;
  padding: 0.3em 0.6em;
  align-items: end;
  text-align: right;
  justify-content: right;
}

a:hover {
  background-color: #8c80fc5e;
}

.search-container {
  margin-bottom: 2em;
  width: 100%;
}

.search-container form {
  width: 30%;
  position: relative;
  border: 1px solid #949ce2;
}

.search-container fa-icon {
  position: absolute;
  top: 8px;
  right: 18px;
  background-color: none;
  padding: 0.3rem;
}

.search-container input {
  padding: 0.5em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media (max-width: 1024px) {
  .moment img {
    width: 25rem;
    height: 25rem;
    margin-bottom: 1em;
  }

  .moments-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 3em;
    flex-grow: 1;
    width: 100%;
    margin-left: 15px;
  }

  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .aside-container {
    display: none;
  }

  .home-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
  }

  .home-container h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width:768px) {

  .moment img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1em;
    margin: 0 auto;
  }

  .moments-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin-top: 3em;
    flex-grow: 1;
    margin-left: 0;

  }
}
