<div class="layout-container">
  <div class="home-container">
    <h1>Veja o que andam compartilhando por aí</h1>

    @if (hasMoments()) {
    <div class="moments-container">
      @for (moment of moments(); track moment.id) {
      <div class="moment">
        <a [routerLink]="['/moments', moment.id]">
          <img
            class="img-moment"
            [src]="moment.image"
            appImageFallback="/assets/post-default.png"
            [alt]="moment.title"
          />
          <div class="details">
            <h3>{{ moment.title }}</h3>
            <div class="counts">
              <p>💬{{ moment.comments!.length }}</p>
              <p>😻{{ moment.likes_count }}</p>
            </div>
            <p class="date">{{ moment.created_at }}</p>
          </div>
        </a>
      </div>
      }
    </div>
    } @else {
    <div class="loading">
      <app-loading></app-loading>
    </div>
    }
  </div>
</div>
