.layout-container {
  display: flex;
}

.home-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 20rem;
  width: 85%;
}

.home-container h1 {
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.aside-container {
  position: fixed;
  top: 0;
  width: 20rem;
  background-color: #f1f2f99d;
  height: 100%;
  box-sizing: border-box;
  margin-right: 50px;
  z-index: 1;
  flex-shrink: 0;
  padding-top: 5rem;
}

.moments-container {
  margin-left: 3rem !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3em;
  flex-grow: 1;
}

.moment {
  text-align: center;
  margin: 0.5rem;
}

.moment:hover .details {
  display: flex; 
  opacity: 1; 
  flex-direction: column;
}
.counts{
  display: flex;
  flex-direction: row;
}
.details {
  color: #eeeeee;
  display: flex;
  opacity: 0;   
  margin-top: -120px;
  margin-left: 20px;
  width: 170px;
  height: 190px;
  background-color: #949ce2;
  z-index: 200;
  position: absolute;
  padding: 1rem;
  border-radius: 10px;
}


.moment img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1em;
  border-radius: 20px;
}
.moment img:hover {
box-shadow: 0px 5px 20px #949ce278;
}
.moment h3{
  height: 100px;
}
.moment h3,
.moment p {
  text-align: left;
  margin-bottom: 1em;
}

.moment .date {
  font-size: 0.7em;
  font-style: italic;
}

.search-container {
  margin-bottom: 2em;
  width: 100%;
}

.search-container form {
  width: 30%;
  position: relative;
  border: 1px solid #949ce2;
}

.search-container fa-icon {
  position: absolute;
  top: 8px;
  right: 18px;
  background-color: none;
  padding: 0.3rem;
}

.search-container input {
  padding: 0.5em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media (max-width: 1024px) {
  .moment img {
    width: 25rem;
    height: 25rem;
    margin-bottom: 1em;
  }

  .moments-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 3em;
    flex-grow: 1;
    width: 100%;
    margin-left: 15px;
  }

  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .aside-container {
    display: none;
  }

  .home-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
  }

  .home-container h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width:768px) {

  .moment .details {
    display: flex; 
    opacity: 1; 
    flex-direction: column;
  }

  .moment img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1em;
    margin: 0 auto;
  }

  .moments-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;;
    margin-top: 3em;
    flex-grow: 1;
    margin-left: 0rem !important;
  }
}
