.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

.home-container h1 {
  margin-bottom: 0.5em;
}

.moments-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 3em;
}

.moment {
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  border-radius: 10px;
  background-color: #c6c9e63f;
}

.moment:hover {
  border: 2px solid #949ce2;
}

.moment img {
  width: 17.8rem;
  height: 15rem;
  margin-bottom: 1em;
}

.moment h3,
.moment p {
  text-align: left;
  margin-bottom: 1em;
}

.moment .date {
  font-size: 0.7em;
  font-style: italic;
}

a {
  width: 5rem;
  display: flex;
  color: #949ce2;
  padding: 0.3em 0.6em;
  align-items: end;
  text-align: right;
  justify-content: right;
}

a:hover {
  background-color: #0000005e;
}

.search-container {
  margin-bottom: 2em;
  width: 100%;
}

.search-container form {
  width: 30%;
  position: relative;
  border: 1px solid #949ce2;
}

.search-container fa-icon {
  position: absolute;
  top: 8px;
  right: 18px;
  background-color: none;
  padding: 0.3rem;
}

.search-container input {
  padding: 0.5em;
  margin: 0 auto;
  width: 100%;
  text-align: center;

}