<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label>Usuario:</label>
    <input type="text" formControlName="username" />
  </div>
  <div class="form-group">
    <label>Senha:</label>
    <input type="password" formControlName="password" />
  </div>
  <div class="form-group">
    <input class="login" type="submit" value="{{ btnText }}" />
    <div class="cadastrar">
      <span> ou </span>
      <a routerLink="/register">Crie sua conta.</a>
    </div>
  </div>
</form>
