* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rethink Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #322e49;
    transition: .45s;
}

a:hover {
    color: #949ce2;
}

li {
    list-style: none;
}

/* form */

/* BUTTONS */
.edit-btn,
.remove-btn {
    padding: 0.5em 1em 0.5rem;
    font-size: 0.85em;
    margin: 0 0.5em;
    cursor: pointer;
    color: #e7e7e7 !important;
    background-color: #8d96df;
    transition: 0.4s;
    border: none;
    border-radius: 5px;
}

.aside-container {
    position: fixed;
    top:0px;
    padding-top: 5rem;
    width: 20rem;
    background-color: #f1f2f99d;
    height: 100%; 
    box-sizing: border-box; 
}

.remove-btn {
    border: 2px solid;
    color: #e7e7e7 !important;
    background-color: #212333;
}

button fa-icon,
a fa-icon {
    color: #212333 !important;
    margin-right: 0.2em;
}

button fa-icon,
a fa-icon:hover {
    color: #949ce2 !important;
    margin-right: 0.2em;
}


.edit-btn,
.edit-btn path {
    border: 2px solid;
    color: #e7e7e7;
    border-radius: 5px;
}

.edit-btn:hover,
.edit-btn:hover path {
    border: 2px solid #29263f;
}

.remove-btn:hover,
.remove-btn:hover path {
    border: 2px solid #ce333b;
}

/* FORM STYLES */
form {
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label {
    font-weight: bold;
    font-size: 0.9em;
    margin: 0.8em 0em 0.8em 0em;
}

.form-group input,
.form-group textarea {
    padding: 0.6em;
    color: #777;
}

textarea,
input[type="text"],
input[type="email"], input[type="password"] {
    border: none;
    padding: 0.6em 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.4s;
    color: #000000;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type="submit"] {
    color: #949ce2;
    background-color: #322e49;
    border: none;
    padding: 0.6em 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type="file"] {
    background-color: #0000005e;
    border: none;
    padding: 0.6em 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8em;
    transition: 0.4s;
    margin-bottom: 2rem;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type="submit"]:hover {
    color: #949ce2;
    border-color: #949ce2;
    background-color: transparent;
}

.validation-error p {
    color: #dc3545;
    margin-top: 0.4em;
    border-left: 3px solid #dc3545;
    padding-left: 0.2em;
}

h1{
    text-align: left;
    margin-left: 12.5rem;
}


@media (max-width: 1024px) {
    .aside-container {
        display: none;
    }
}